@import "tailwindcss";

html { scroll-behavior: smooth; }

:root {
  --background: #020202;
  --foreground: #E0E1DD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-text: #929292;
  --color-background-accent: #3F3F3F;
  --color-primary: #E9D015;
  --color-code-block: #121212;
  --color-navbar: rgb(63 63 63 / 40%);
  --color-card-hover: rgb(255 255 255 / 10%);
  --color-white: #FFFFFF;
  --font-sans: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
}

